@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: .5rem 2rem;
  border-radius: 1rem;
}

h2 {
  font-size: 2rem;
  color: azure;
}

p {
  font-size: 1rem;
  color: aliceblue;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  
  font-family: "Inter", sans-serif;
  display: flex;
  height: 100svh;
  align-items: center;
  justify-content: center;
  background-color: #141414;
}

.track {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.music-player {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
}

.cover-img img {
  width: 350px;
  height: 350px;
  border-radius: 2rem;
}

.cover-img {
  border-radius: 2rem;
}


.controller {
  display: flex;
  gap: .5rem;
  margin: 0 auto;
}